 #pagebg{
        background-image: linear-gradient(180deg, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url("../Images/bg1.jpg");
        background-position: 50%;
        background-size: auto, cover;
        background-repeat: repeat, no-repeat;
        height: 140vh;
        width: 100%;
    }
    .pagebg::after{
        content: '';
        /* display: block; */
        height: 4px;
        width: 100%;
        background-color: rgb(31, 250, 250);
        transform: scaleX(0);
        transition: transform 0.3s ease;
        transform-origin: left;
    }
    .pagebg:hover::after{
        color: rgb(227, 98, 152);
        transform: scaleX(1);
        transition: 0.4s ease-in-out;
    }
